{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <small class="info">
            <b>
                Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
            </b>
        </small>
        <p>
            {{ comment.body|linebreaks }}
        </p>
    </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}


{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}
    